
@model IEnumerable<GestaoInventario.Models.MovimentacaoStock>

@{
    Layout = "_Layout";
}

<h1>Movimentações de Stock</h1>

<p>
    <a class="btn btn-primary" asp-controller="MovimentacoesStock" asp-action="Create">Criar Novo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Data</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movimentacao in Model)
        {
            <tr>
                <td>@movimentacao.Produto.Nome</td>
                <td>@movimentacao.Quantidade</td>
                <td>@movimentacao.Data.ToShortDateString()</td>
                <td>
                    <a class="btn btn-secondary" asp-controller="MovimentacoesStock" asp-action="Edit" asp-route-id="@movimentacao.Id">Editar</a> |
                    <a class="btn btn-info" asp-controller="MovimentacoesStock" asp-action="Details" asp-route-id="@movimentacao.Id">Detalhes</a> |
                    <a class="btn btn-danger" asp-controller="MovimentacoesStock" asp-action="Delete" asp-route-id="@movimentacao.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
