@model IEnumerable<GestaoInventario.Models.Produto>

@{
    Layout = "_Layout";
}

<h1>Produtos</h1>

<p>
    <a class="btn btn-primary" data-action="Create" data-controller="Produtos">Criar Novo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Categoria</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var produto in Model)
        {
            <tr>
                <td>@produto.Nome</td>
                <td>@produto.Preco</td>
                <td>@produto.Quantidade</td>
                <td>@produto.Categoria.Nome</td>
                <td>
                    <a class="btn btn-secondary editar" data-id="@produto.Id" data-action="Edit" data-controller="Produtos">Editar</a> |
                    <a class="btn btn-info detalhes" data-id="@produto.Id" data-action="Details" data-controller="Produtos">Detalhes</a> |
                    <a class="btn btn-danger eliminar" data-id="@produto.Id" data-action="Delete" data-controller="Produtos">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
